<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>scoresServletByPassword</servlet-name>
        <servlet-class>main.java.api.ScoresServletByPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>scoresServletByPassword</servlet-name>
        <url-pattern>/api/getScoresByPassword</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>scoresServletByHash</servlet-name>
        <servlet-class>main.java.api.ScoresServletByHash</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>scoresServletByHash</servlet-name>
        <url-pattern>/api/getScoresByHash</url-pattern>
    </servlet-mapping>
</web-app>